body {
font-family: 'Raleway', sans-serif;
}

.bannerimg {
	background-color: darkgray;
	margin: 0;
	padding: 0;
}
ul {
	background-color: darkgray;
	text-align: center;
}

li {
	font: 40px;
	margin: 10px 50px 10px 50px;
	padding: 10px 50px 10px 50px;
	border: solid blue;
	background-color: lightblue;
	display: inline-block;
}

footer {
	
	clear:both;
}